.bg{
   
    background: url('https://cdn.wallpapersafari.com/60/0/BdWPrS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
   
  

}

.container{
   opacity: .9;
    font-weight: bolder;
   
}
