/* .table__header{
    background-color: #ffffff;
    color: white;
} */

/* .department{
    display: grid;
} */

.content{
    margin-left: 200px;
    margin-right: 50px;
    
    
}

.text-center{
     
    background-color: #ffffff;
    color: rgb(255, 255, 255);
}
/* .department__image>img{
   
    height: auto;

    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0.7));

    
} */