.table__header{
    background-color: #22bace;
    color: white;
}

/* .department{
    display: grid;
} */

.content{
    margin-left: 200px;
    margin-right: 50px;
    
}

.text-center{
     
    background-color: #513c6db6;
    color: rgb(255, 255, 255);
}
