.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(199, 199, 199);
  text-align: center;
  color: rgb(2, 0, 0);
}

.sidebar__{
  position: fixed;
  height: 100%;
  width: 150px;
  border-radius: 10px;
 
 
  background-color: #d8d8d8;
  flex-direction: column;

}

.sidebar__text>span{
  font-size: 20px;
  margin-left: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;

  
}
